<div class="container alt-layout">
  <div class="row">
    <div class="col-xs-12">
      <div class="blueboldheading">
        <h1>
          Edit Contact Page
          <!--Support &amp; FAQ-->
          <!--<img src="../assets/ico-support2.png" alt="Support/FAQ">-->
        </h1>

      </div>
    </div>
  </div>

  <%= render 'form' %>
  <br>

  <div class="row">
    <!--<%= link_to 'Show', @contact_page %> |
    <%= link_to 'Back', contact_pages_path %>-->
  </div>

</div>



