
      <div class="find_more">
        <p>Find New Partners, Experience Romance &amp; Find Love!<br />
          <span><a href="#">Register Now</a> and take a sneak peak at over 9 million Singles.</span></p>
      </div>
      <div class="container_row">
        <div class="welcomezone">
          <div class="blueboldheading">
            <h1>Company <span>Information</span></h1>
          </div>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum.
          <p><img src="../app/assets/images/photo-about.jpg" alt="" width="226" height="150" class="project-img_1" />Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisqueeleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. </p>
          <br />
          <h2>Our Values</h2>
          <p>Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis.</p>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="row2">
          <div class="box1">
            <div>
              <h2>Customer Service</h2>
              <div> <img src="../app/assets/images/ico-med-1.png" alt="" class="about-img" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, <a href="#">Read More...</a> </div>
              <br />
              <br />
            </div>
            <div><br />
              <h2>Global Reach</h2>
              <br />
              <div> <img src="../app/assets/images/ico-med-3.png" alt="" class="about-img" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, <a href="#">Read More...</a></div>
            </div>
          </div>
          <div class="box2">
            <div>
              <h2>Award Winning</h2>
              <div> <img src="../app/assets/images/ico-med-2.png" alt="" class="about-img" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, <a href="#">Read More...</a></div>
              <br />
              <br />
            </div>
            <div>
              <h2>Availability</h2>
              <div><br />
                <img src="../app/assets/images/ico-med-4.png" alt="" class="about-img" /> Lorem ipsum dolor sit amet, consd ectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, <a href="#">Read More...</a> </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="welcomezone">
          <h2>Our Commitment</h2>
          <p>Quisque eleifend, arcu a dictum vaadrius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis.</p>
        </div>
      </div>