
      <div class="member_login">
        <div class="login_box">
          <form action="#" method="get">
            <fieldset>
              <div class="column_1">
                <label>username :</label>
                <label>password :</label>
              </div>
              <div class="column_2">
                <input type="text" name="" value="" />
                <input type="text" name="" value="" />
              </div>
              <div class="column_3">
                <input type="image" src="../app/assets/images/login_btn.gif" class="login"/>
              </div>
              <div class="column_4">
                <label class="password"><a href="#">Forgot <br />
                  password</a></label>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="find_more">
        <p class="lets_create_memories"> Let's create new memories. <br />
          <span><%= link_to("Register Now", page_signup_path ) %> and take a sneak peak at over 9 million Singles.</span></p>
      </div>