<h1>Page#match</h1>
<p>Find me in app/views/page/match.html.erb</p>



<table>
  <thead>
  <tr>
    <th>User</th>
    <th>Score</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% counter = 0%>
  <% @test.each do |survey| %>
    <% survey.each do |more| %>

          <tr>
            <td><%= getUsername(more.user_id)%></td>
            <td><%= @user_scores[counter] %></td>
            <td><%= link_to 'Show', more %></td>
          </tr>
          <% counter += 1 %>
    <% end %>
  <% end %>
  </tbody>
</table>




