
      <div class="find_more">
        <p>Find New Partners, Experience Romance &amp; Find Love!<br />
          <span><a href="#">Register Now</a> and take a sneak peak at over 9 million Singles.</span></p>
      </div>
      <div class="container_row">
        <div class="welcomezone">
          <div style="margin-bottom:20px; border-bottom:1px dotted #000; padding-bottom:10px;">
            <div class="blueboldheading">
              <h1>Our <span>Projects</span></h1>
            </div>
            <br />
            <h3>Project One</h3>
            <div> <img src="../app/assets/images/projectimg1.jpg" alt="" class="project-img" />
              <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis.</p>
            </div>
            <br />
            <div style="font-weight:bold;"><img src="../app/assets/images/arrow.png" width="16" height="16" border="0" align="middle" alt="" /> <a href="#">View this project</a>
              <div class="clear"></div>
            </div>
          </div>
          <div style="margin-bottom:20px; border-bottom:1px dotted #000; padding-bottom:10px;">
            <h3>Project Two</h3>
            <div> <img src="../app/assets/images/projectimg2.jpg" alt="" class="project-img" />
              <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis.</p>
            </div>
            <br />
            <div style="font-weight:bold;"><img src="../app/assets/images/arrow.png" width="16" height="16" border="0" align="middle" alt="" /> <a href="#">View this project</a>
              <div class="clear"></div>
            </div>
          </div>
          <div style="margin-bottom:20px; border-bottom:1px dotted #000; padding-bottom:10px;">
            <h3>Project Three</h3>
            <div> <img src="../app/assets/images/projectimg3.jpg" alt="" class="project-img" />
              <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis.</p>
            </div>
            <br />
            <div style="font-weight:bold;"><img src="../app/assets/images/arrow.png" width="16" height="16" border="0" align="middle" alt="" /> <a href="#">View this project</a>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>