
      <div class="find_more">
        <p>Find New Partners, Experience Romance &amp; Find Love!<br />
          <span><a href="#">Register Now</a> and take a sneak peak at over 9 million Singles.</span></p>
      </div>
      <div class="container_row">
        <div class="welcomezone">
          <div class="blueboldheading">
            <h1>Services <span>for you</span></h1>
          </div>
          <p> <strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. </strong></p>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis.</p>
          <p>Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis.</p>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="row2">
          <div class="box1">
            <div style="margin-bottom:10px;">
              <h2>Service 1</h2>
              <div> <img src="../app/assets/images/ico1.png" alt="" width="65" height="65" class="service-img" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, <a href="#"></a>
                <div style="clear:both"></div>
              </div>
            </div>
            <div style="margin-bottom:10px;">
              <h2>Service 3</h2>
              <div> <img src="../app/assets/images/ico3.png" alt="" class="service-img" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, <a href="#"></a>
                <div style="clear:both"></div>
              </div>
            </div>
            <div style="margin-bottom:10px;">
              <h2>Service 5</h2>
              <div> <img src="../app/assets/images/ico5.png" alt="" class="service-img" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, <a href="#"></a>
                <div style="clear:both"></div>
              </div>
            </div>
          </div>
          <div class="box2">
            <div style="margin-bottom:10px;">
              <h2>Service 2</h2>
              <div> <img src="../app/assets/images/ico2.png" alt="" class="service-img" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, <a href="#"></a>
                <div style="clear:both"></div>
              </div>
            </div>
            <div style="margin-bottom:10px;">
              <h2>Service 4</h2>
              <div> <img src="../app/assets/images/ico4.png" alt="" class="service-img" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, <a href="#"></a>
                <div style="clear:both"></div>
              </div>
            </div>
            <div style="margin-bottom:10px;">
              <h2>Service 6</h2>
              <div> <img src="../app/assets/images/ico6.png" alt="" class="service-img" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, <a href="#"></a>
                <div style="clear:both"></div>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="row2">
          <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. </p>
        </div>
        <div class="clear"></div>
      </div>