<div class="container alt-layout">

  <div class="row">
    <div class="col-xs-12">
      <div class="blueboldheading">
        <h1>
          Support &amp; FAQ
          <%=image_tag "ico-support2.png" %>
        </h1>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <% @support_questions.each do |contact_page| %>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= contact_page.question%></h3>
            </div>

            <div class="panel-body">
              <!--<div class="blog-posted-row">
                Posted on <%= contact_page.updated_at %> by
                <a href="#" class="supports">admin</a>
              </div>-->
              <br>
                <%= contact_page.answer %>
            </div>
          </div>

      <% end %>


    </div>
  </div>

</div>
<!-- End container -->
