
      <div class="find_more">
        <p>Find New Partners, Experience Romance &amp; Find Love!<br />
          <span><a href="#">Register Now</a> and take a sneak peak at over 9 million Singles.</span></p>
      </div>
      <div class="container_row">
        <div class="welcomezone">
          <div style="margin-bottom:10px; border-bottom:1px solid #d8d6ba; padding-bottom:10px;">
            <div class="blueboldheading"><img src="../app/assets/images/ico-support.png" width="144" height="117" align="right" alt="" />
              <h1 class="inner">Support <span>&amp; FAQ</span></h1>
            </div>
            <div class="blog-posted-row">Posted on 04. Dec, 2015 by <a href="#" class="supports">admin</a></div>
            <div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis.</p>
              <p>Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis.</p>
            </div>
            <div><a href="#">Read Commnets</a></div>
          </div>
          <div class="clear"></div>
          <div style="margin-bottom:10px; border-bottom:1px solid #d8d6ba; padding-bottom:10px;">
            <div class="blueboldheading">
              <h1 class="inner">Question <span>One</span></h1>
            </div>
            <div class="blog-posted-row">Posted on 04. Dec, 2015 by <a href="#" class="supports">admin</a></div>
            <div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis.</p>
              <p>Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis.</p>
            </div>
            <div><a href="#">Read Commnets</a></div>
          </div>
          <div class="clear"></div>
          <div style="margin-bottom:10px; border-bottom:1px solid #d8d6ba; padding-bottom:10px;">
            <div class="blueboldheading">
              <h1 class="inner">Question <span>Two</span></h1>
            </div>
            <div class="blog-posted-row">Posted on 04. Dec, 2015 by <a href="#" class="supports">admin</a></div>
            <div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis.</p>
              <p>Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis.</p>
            </div>
            <div><a href="#">Read Commnets</a></div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
      </div>