<!--<h1>Page#support</h1>-->
<!--<p>Find me in app/views/page/support.html.erb</p>-->
<div class="welcomezone">
  <div class="blueboldheading">
     <h1>Contact Us</h1>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum.</p>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum.</p>
  </div>

  <div>
    <br>
    <h2>Contact Form</h2>

    <div id="contact-form">
      Contact form goes here!
    </div>

    <div>
      <br>
      <h2>Contact Information:</h2>
      <img class="project-img" width="226" vspace="15" hspace="15" height="150" alt="" src="assets/photo-contact.jpg"></img>

      <p>100 Lorem Ipsum Dolor Sit
        <br>
        88-99 Sit Amet, Lorem
        <br>
        USA
      </p>

      <p>
        <span><img src="assets/ico-phone.png" alt="Phone" align="middle" height="16" hspace="2" width="20"> Phone:</span> (888) 123 456 789<br>
        <span><img src="assets/ico-fax.png" alt="Fax" align="middle" height="16" hspace="2" width="20"> Fax:</span> (888) 987 654 321<br>
        <span><img src="assets/ico-website.png" alt="WWW Link" align="middle" height="16" hspace="2" width="20"> Website:</span> <a href="#">www.mycompany.com</a><br>
        <span><img src="assets/ico-email.png" alt="Email" align="middle" height="16" hspace="2" width="20"> Email:</span> <a href="mailto:info@mycompany.com">info@mycompany.com</a><br>
        <span><img class="jfksesrvomjedhhypqso" src="assets/ico-twitter.png" alt="Twitter Follow" align="middle" height="16" hspace="3" width="20"> <a href="#">Follow</a> on Twitter</span><br>

      </p>
    </div>

  </div>
</div>
