<div class="container alt-layout">

  <div class="row">
    <div class="col-xs-12">
      <div class="blueboldheading">
        <h1>
          Support &amp; FAQ
          <img src="assets/ico-support2.png" alt="Support/FAQ">
        </h1>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <!-- begin panel 1 -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Question One</h3>
        </div>

        <div class="panel-body">
          <div class="blog-posted-row">
            Posted on 04. Dec, 2014 by
            <a href="#" class="supports">admin</a>
          </div>

          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed  odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum  varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin  sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet,  consectetuer adipiscing elit. Proin sed odio et ante adipiscing  lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis  arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing  lobortis.</p>

          <p>Quisque eleifend, arcu a dictum varius, risus  neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et  ante adipiscing lobortis. Proin sed odio et ante adipiscing lobortis.  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed  odio et ante adipiscing lobortis.</p>

          <a href="#" class="btn btn-default">Read Commnets</a>
        </div>
      </div>
      <!-- End panel 1 -->

      <!-- begin panel 2 -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Question Two</h3>
        </div>

        <div class="panel-body">
          <div class="blog-posted-row">
            Posted on 14 Feb, 2015 by
            <a href="#" class="supports">admin</a>
          </div>

          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed  odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum  varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin  sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet,  consectetuer adipiscing elit. Proin sed odio et ante adipiscing  lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis  arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing  lobortis.</p>

          <p>Quisque eleifend, arcu a dictum varius, risus  neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et  ante adipiscing lobortis. Proin sed odio et ante adipiscing lobortis.  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed  odio et ante adipiscing lobortis.</p>

          <a href="#" class="btn btn-default">Read Commnets</a>
        </div>
      </div>
      <!-- End panel 2 -->

      <!-- begin panel 3 -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Question Three</h3>
        </div>

        <div class="panel-body">
          <div class="blog-posted-row">
            Posted on 021. Jan, 2015 by
            <a href="#" class="supports">admin</a>
          </div>

          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed  odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum  varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin  sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet,  consectetuer adipiscing elit. Proin sed odio et ante adipiscing  lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis  arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing  lobortis.</p>

          <p>Quisque eleifend, arcu a dictum varius, risus  neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et  ante adipiscing lobortis. Proin sed odio et ante adipiscing lobortis.  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed  odio et ante adipiscing lobortis.</p>

          <a href="#" class="btn btn-default">Read Commnets</a>
        </div>
      </div>
      <!-- End panel 3 -->


    </div>
  </div>

</div>
<!-- End container -->
