<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @featured_user.userName %>!</h1>
<p>
  You've been selected as our featured single of the day!
</p>
<p>
  This means our users (including you!) can vote to match you with one of your top matches on our site!
<br>
  We'll let you know who your top voted match is when the voting period is over!
</p>
<br>
<p>
  *There is no obligation to actually date or do anything whatsoever with anyone on our site, period.
</p>

</body>
</html>