@media only screen and (min-width: 600px) {

    .banner {
        content:url(banner.jpg) !important;
    }

    #new_user, #new_user.a  {
        font: 20px Arial, Helvetica, sans-serif !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 50% !important;
    }
    h2 {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 50% !important;
        font-size: 150% !important;
    }
    #new_user.actions {
        width: 85px !important;
        font-size: 110% !important;
    }
} /*end of the media query */