
/*@media only screen and (min-width: 300px) {*/
/*-----Prevents iPhone from resizing in landscape mode -----*/
/*html {-webkit-text-size-adjust: none; }*/

/*----------- apply a natural box layout model to all elements --------------*/
/** { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }*/


    /*.banner {*/
        /*content:url(banner.jpg) !important;*/
    /*}*/

    /*body{*/
        /*margin:0px !important;*/
        /*font:14px/26px Arial, Helvetica, sans-serif !important;*/
        /*background-color: blue !important;*/
    /*}*/
    /*#new_user, #new_user.a  {*/
        /*font: 50px Arial, Helvetica, sans-serif !important;*/
        /*margin-left: auto !important;*/
        /*margin-right: auto !important;*/
        /*width: 50% !important;*/
    /*}*/
    /*h2 {*/
        /*margin-left: auto !important;*/
        /*margin-right: auto !important;*/
        /*width: 50% !important;*/
        /*font-size: 450% !important;*/
    /*}*/
    /*#new_user.actions {*/
        /*width: 150px !important;*/
        /*height: 150px !important;*/
        /*font-size: 180% !important;*/
    /*}*/
/*} *//*end of the media query */