// Place all the styles related to the page controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.survey_score_table{
  background-color:#ffffff;
}

.match-body{
}

.match-user{
  background-color: #FFF;
  text-align: center;
}

.match-user img{
  width: 50% !important;
}
//
//.candidates{
//  width:100%;
//  float:left;
//  text-align: center;
//}
//.candidate{
//  text-align: center;
//  width:15%;
//  float:left;
//  margin:auto;
//}
//.candidate a{
//  text-align: center;
//}
.candidate p{
  text-align:center;
}